**0. Colab**

### **Markdown이란?**
Markup 언어의 일종으로, HTML 경험이 없는 사람도 누구나 쉽게 다양한 서식을 쉽게 추가하는 방식의 문서 편집 문법  

---

### **목록구성**
1. 첫째
2. 둘째
* level1
  * level2
    * level3

---

### **폰트스타일**
**볼드**
__볼드__  
*이탤릭*
_이탤릭_  
~~취소선~~
<u>언더바</u>

---

### **인용구**
> "인용 예시", [제목], 1p

---

### **링크**
[대표글] (주소)  
[네이버](www.naver.com)

---

In [ ]:
!pwd

/content

In [ ]:
!ls

sample_data

**1. iterator**
- iterable: 반복 가능한 객체  
ex) 문자열, 리스트, 딕셔너리, 집합  
 요소가 여러개 들어있고, 한 번에 하나씩 꺼낼 수 있는 객체  
  
- \_\_iter__ 메서드가 해당 객체에 있는지 확인

In [ ]:
dir([1,2,3])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
[1, 2, 3].__iter__()



---

In [ ]:
it = [1, 2, 3].__iter__() #리스트의 이터레이터를 it 변수에 저장 후 __next__ 메서드 호출

In [ ]:
it.__next__()

1

In [ ]:
it.__next__()

2

In [ ]:
it.__next__()

3

In [ ]:
it.__next__() #더 이상 꺼낼 요소가 없으므로 StopIteration Exception 발생

StopIteration: ignored



---

In [ ]:
'Hello, world!'.__iter__()

In [ ]:
{'a': 1, 'b': 2}.__iter__()

In [ ]:
{1, 2, 3}.__iter__()



---

In [ ]:
it = range(3).__iter__()

In [ ]:
it.__next__()

0

In [ ]:
it.__next__()

1

In [ ]:
it.__next__()

2

In [ ]:
it.__next__()

StopIteration: ignored

**2. Generator**

- generator: iterator를 생성해주는 함수  
generator는 함수 안에서 yield라는 키워드만 사용하면 됨
- iterator보다 간단

In [ ]:
def number_generator():
    yield 0
    yield 1
    yield 2
 
for i in number_generator():
    print(i)

0
1
2

In [ ]:
def g ():
  print('one')
  yield 1 #첫번째 next 호출 시 여기까지 처리
  print('two')
  yield 2 #두번째 next 호출 시 여기까지 처리
  print('three')
  yield 3 #세번째 next 호출 시 여기까지 처리

_ = g()
next(_)
next(_)
next(_)

one
two
three

3

In [ ]:
#반복문 처리 시 활용
def g():
  A = [1,2,3,4,5]
  for _ in A:
    yield _

for _ in g():
  print( _ * 2)

2
4
6
8
10



---

In [ ]:
g = number_generator()
g

In [ ]:
g.__next__()

0

In [ ]:
g.__next__()

1

In [ ]:
g.__next__()

2

In [ ]:
g.__next__()

StopIteration: ignored

- yield를 사용하면 값을 함수 바깥으로 전달하면서 코드 실행을 함수 바깥에 양보

**3. 한 줄 조건문**

In [ ]:
def confirm(x):
  return '1입니다' if x==1 else\
          '5입니다' if x==5 else\
          '1도 5도 아닙니다'

In [ ]:
confirm(1)

'1입니다'

In [ ]:
confirm(3)

'1도 5도 아닙니다'

In [ ]:
confirm(5)

'5입니다'

**4. 리스트**

- 리스트 기본  
[ ] 대괄호 안에 쉽표, 구분자로 분리

In [ ]:
A = [1,2,3,4,5]

- 리스트는 추가하고 삭제 가능

In [ ]:
A.append(6)
A

[1, 2, 3, 4, 5, 6]

In [ ]:
del(A[0])
A

[2, 3, 4, 5, 6]

- 리스트 슬라이싱

In [ ]:
A = [1,2,3,4,5]
A[:2]

[1, 2]

**5. 리스트 표현식**

In [ ]:
A = list(range(10)) # [0,1,2,3,4,5,6,7,8,9] 할당

In [ ]:
#파이썬에서 _ 문자를 변수명으로 사용 가능함 . 쓰고 버리는 의미 없는 임시변수 표현

In [ ]:
B = [_ for _ in A]
# B = [x for x in A]
B

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
C =[x for x in A if x > 5 ] # [6,7,8,9] 할당 = 5 보다 큰 값 할당 필터링 역할
C

[6, 7, 8, 9]



---

In [ ]:
D = [x for x in A if x > 5 and x % 2 == 0 ]
D

[6, 8]

**6. 함수**

In [ ]:
# F(n) = F(n-1) + F(n-2) 단, n > 2일 경우

def F(n):
  if n <= 2:
    return 1
  else:
    return F(n-1) + F(n-2) # 재귀(recursive)

In [ ]:
R = [F(n) for n in range(1, 10)]
print(R) #F(1)에서 F(9)까지 구하기

[1, 1, 2, 3, 5, 8, 13, 21, 34]

**7. 람다(lambda) 함수**
- 익명함수(Anonymous Function)
- 함수 정의를 한 줄로 생략하는 방식

In [ ]:
A =lambda x : x*2
A(5) #10 값

def lamb(x):
  return x*2

In [ ]:
F = lambda n : F(n-1) + F(n-2) if n > 2 else 1
R = [F(n) for n in range(1,10)]
print(R) #[1, 1, 2, 3, 5, 8, 13, 21, 34]

[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
A = lambda x : x * 2
B = lambda x : x * 3
C = lambda x : x * 4
D = lambda x : x * 5

L = [A,B,C,D]

for f in L:
  print(f(2))

4
6
8
10

In [ ]:
F = lambda n : [f(n) for f in L]
F(2)

[4, 6, 8, 10]

- <스스로>48페이지 예제 해보기

In [ ]:
# 48페이지 예제 실습
def process(string, code):
  func_dict = { 'U' : lambda x : x.upper(),
  'L' : lambda x : x.lower(),
  'C' : lambda x : x.capitalize()}
  F = func_dict[code]
  return F(string)

In [ ]:
# 48페이지 예제 다른 표현
def process(string, code):
  return { 'U' : lambda x : x.upper(),
  'L' : lambda x : x.lower(),
  'C' : lambda x : x.capitalize()
  } [code] (string)

In [ ]:
process('hello','U')

'HELLO'

In [ ]:
process('HELLO','L')

'hello'

In [ ]:
process('hello','C') # Hello

'Hello'

**8. \***args 와 \****kwargs 이용한 람다**
- *args 표현식  
: 함수의 매개변수 * 문자는 임의의 복수의 매개변수가 오는 것으로 정의
- **kwargs 표현식  
: 함수의 매개변수에 ** 문자는 임의의 key=value 형태의 복수의 매개변수가 오는 것으로 정의

In [ ]:
F = lambda * x : ''.join(x) # 문자열을 붙여주는 함수
F('파이썬', '코딩', '쉽네') # '파이썬코딩쉽네'

'파이썬코딩쉽네'

In [ ]:
F = lambda **x : [(v,k) for k, v in x.items()] #key, value를 서로 바꿔서 dictionary 생성
D = F(A='파이썬', B='코딩', C='쉽네') #dict 생성
print(D)

D = dict(D)
print(D['파이썬'])

[('파이썬', 'A'), ('코딩', 'B'), ('쉽네', 'C')]
A



---

In [ ]:
F = lambda **x : sum(x['data']) if 'type' in x and x['type'] == 'sum' else 0

In [ ]:
F(type='sum', data=[1,2,3,4])

10

In [ ]:
F(data=[1,2,3,4,5])

0

In [ ]:
F(type='mul', data=[1,2,3,4,5])

0

**9. 파일 입출력**

- student 파일 읽기 예제

In [ ]:
pwd

'/content'

In [ ]:
with open('student.txt', 'r', encoding='euc-kr') as fr:
  print(fr.readline())

태서연;54;72;60;78

- 이름(첫 번째)를 제외한 **숫자 문자열**들만 추출

In [ ]:
F = lambda x : x.split(';')[1:]
F('태서연;54;72;60;78')

['54', '72', '60', '78']

In [ ]:
F = lambda x : x.split(';')
F('태서연;54;72;60;78')

['태서연', '54', '72', '60', '78']

- 입력 문자열을 숫자로만 추출하기(list comprehension)

In [ ]:
F = lambda x : [int(i) for i in x.split(';')[1:]]
F('태서연;54;72;60;78')

[54, 72, 60, 78]

- 입력 문자열을 합계

In [ ]:
F = lambda x : sum([int(i) for i in x.split(';')[1:]])
F('태서연;54;72;60;78')

264

- 이름, 과목별 점수 합계 리턴

In [ ]:
F = lambda x : (x.split(';')[0], sum([int(i) for i in x.split(';')[1:]]))
name, total = F('태서연;54;72;60;78')
print(name, total)

태서연 264

- 입력 문자열을 미리 split 하여서 리스트로 넘긴다고 가정

In [ ]:
F = lambda L : [int(x) for x in L[1:]]
F('태서연;54;72;60;78'.split(';'))

[54, 72, 60, 78]

- 이름, 점수 합계를 리턴하는 방법

In [ ]:
F = lambda L : (L[0], sum([int(x) for x in L[1:]]))

name, total = F('태서연;54;72;60;78'.split(';'))

print(name, total)

태서연 264

- 타입별(이름, 합계), (이름, 평균)을 나타내는 함수

In [ ]:
F = lambda L, T : (L[0], sum([int(x) for x in L[1:]])) if T=="sum" else\
                  (L[0], sum([int(x) for x in L[1:]])/len(L[1:])) if T=="avg" else\
                  (L[0], None)
name, value = F('태서연;54;72;60;78'.split(';'), "sum")
print(name, value)

태서연 264

In [ ]:
name, value = F('태서연;54;72;60;78'.split(';'), "avg")
print(name, value)

태서연 66.0

In [ ]:
name, value = F('태서연;54;72;60;78'.split(';'), "mul")
print(name, value)

태서연 None

- 파일을 읽어서 이름;합계;평균을 내는 student_result 파일로 저장

In [ ]:
with open('student.txt', 'r', encoding='euc-kr') as fr, open('student_result.txt', 'w') as fw:
  for line in fr:
    name, total_sum = F(line.split(';'), 'sum')
    name, total_avg = F(line.split(';'), 'avg')

    #문자열 앞에 f를 붙이면 문자열 내부에 {}를 이용하여 변수를 바인딩 할 수 있음.  f-string
    result = f"{name};{total_sum};{total_avg}\n"
    fw.write(result)

- student_result 파일에 저장된 내용 확인

In [ ]:
with open('student_result.txt') as fr:
  print(fr.readline())
  print(fr.readline())
  print(fr.readline())

태서연;264;66.0

박서윤;237;59.25

정지우;244;61.0

**10. 데이터를 json파일/텍스트로 변환**

In [ ]:
import json
person_dict = {}

with open('student.txt', 'r', encoding='euc-kr') as fr:
  for line in fr:
    data = line.strip().split(';') #불필요 공백 제거 후 문자로 문자열 분리
    name = data[0]

    # kor, eng, mat, sci = int(data[1]), int(data[2]), int(data[3]), int(data[4])
    kor, eng, mat, sci = (int(x) for x in data[1:])
    person_dict[name] = {'국어':kor, '영어':eng, '수학':mat, '과학':sci}

with open('student_json', 'w') as fw:
  json.dump(person_dict, fw, ensure_ascii=False, indent=4) #딕셔너리를 JSON으로 변환하여 파일로 저장

json_data = json.dumps(person_dict)
print(json_data)

{"\ud0dc\uc11c\uc5f0": {"\uad6d\uc5b4": 54, "\uc601\uc5b4": 72, "\uc218\ud559": 60, "\uacfc\ud559": 78}, "\ubc15\uc11c\uc724": {"\uad6d\uc5b4": 62, "\uc601\uc5b4": 78, "\uc218\ud559": 16, "\uacfc\ud559": 81}, "\uc815\uc9c0\uc6b0": {"\uad6d\uc5b4": 66, "\uc601\uc5b4": 72, "\uc218\ud559": 32, "\uacfc\ud559": 74}, "\uc815\uc11c\ud604": {"\uad6d\uc5b4": 56, "\uc601\uc5b4": 80, "\uc218\ud559": 67, "\uacfc\ud559": 85}, "\ubc15\ubbfc\uc11c": {"\uad6d\uc5b4": 64, "\uc601\uc5b4": 92, "\uc218\ud559": 11, "\uacfc\ud559": 66}, "\uc774\ud558\uc740": {"\uad6d\uc5b4": 85, "\uc601\uc5b4": 35, "\uc218\ud559": 71, "\uacfc\ud559": 90}, "\uc815\ud558\uc724": {"\uad6d\uc5b4": 51, "\uc601\uc5b4": 26, "\uc218\ud559": 36, "\uacfc\ud559": 63}, "\ubc15\uc724\uc11c": {"\uad6d\uc5b4": 77, "\uc601\uc5b4": 84, "\uc218\ud559": 32, "\uacfc\ud559": 93}, "\uc815\uc9c0\ubbfc": {"\uad6d\uc5b4": 73, "\uc601\uc5b4": 28, "\uc218\ud559": 66, "\uacfc\ud559": 70}, "\ubc15\uc9c0\uc720": {"\uad6d\uc5b4": 51, "\uc601\uc5b4": 34, "\uc218\ud559": 55, "\uacfc\ud559": 63}, "\uae40\ucc44\uc6d0": {"\uad6d\uc5b4": 77, "\uc601\uc5b4": 72, "\uc218\ud559": 29, "\uacfc\ud559": 75}, "\uae40\uc9c0\uc724": {"\uad6d\uc5b4": 78, "\uc601\uc5b4": 27, "\uc218\ud559": 41, "\uacfc\ud559": 67}, "\ubc15\uc740\uc11c": {"\uad6d\uc5b4": 61, "\uc601\uc5b4": 52, "\uc218\ud559": 38, "\uacfc\ud559": 65}, "\uae40\uc218\uc544": {"\uad6d\uc5b4": 51, "\uc601\uc5b4": 32, "\uc218\ud559": 26, "\uacfc\ud559": 91}, "\uc815\ub2e4\uc740": {"\uad6d\uc5b4": 59, "\uc601\uc5b4": 50, "\uc218\ud559": 63, "\uacfc\ud559": 71}, "\ubc15\uc608\uc740": {"\uad6d\uc5b4": 73, "\uc601\uc5b4": 29, "\uc218\ud559": 78, "\uacfc\ud559": 99}, "\ud0dc\uc218\ube48": {"\uad6d\uc5b4": 51, "\uc601\uc5b4": 34, "\uc218\ud559": 44, "\uacfc\ud559": 76}, "\uc774\uc9c0\uc544": {"\uad6d\uc5b4": 53, "\uc601\uc5b4": 32, "\uc218\ud559": 56, "\uacfc\ud559": 70}, "\uc815\uc18c\uc728": {"\uad6d\uc5b4": 55, "\uc601\uc5b4": 54, "\uc218\ud559": 28, "\uacfc\ud559": 94}, "\uc815\uc608\uc6d0": {"\uad6d\uc5b4": 65, "\uc601\uc5b4": 74, "\uc218\ud559": 75, "\uacfc\ud559": 99}, "\uae40\uc608\ub9b0": {"\uad6d\uc5b4": 94, "\uc601\uc5b4": 93, "\uc218\ud559": 72, "\uacfc\ud559": 81}, "\uc774\uc9c0\uc6d0": {"\uad6d\uc5b4": 61, "\uc601\uc5b4": 41, "\uc218\ud559": 32, "\uacfc\ud559": 100}, "\ud0dc\uc18c\uc724": {"\uad6d\uc5b4": 87, "\uc601\uc5b4": 23, "\uc218\ud559": 86, "\uacfc\ud559": 97}, "\uc774\uc9c0\uc548": {"\uad6d\uc5b4": 53, "\uc601\uc5b4": 38, "\uc218\ud559": 57, "\uacfc\ud559": 66}, "\ud0dc\uc720\uc9c4": {"\uad6d\uc5b4": 81, "\uc601\uc5b4": 68, "\uc218\ud559": 83, "\uacfc\ud559": 66}, "\ubc15\uc2dc\uc740": {"\uad6d\uc5b4": 84, "\uc601\uc5b4": 94, "\uc218\ud559": 56, "\uacfc\ud559": 63}, "\uc815\ud558\ub9b0": {"\uad6d\uc5b4": 86, "\uc601\uc5b4": 29, "\uc218\ud559": 32, "\uacfc\ud559": 78}, "\uc815\ucc44\uc740": {"\uad6d\uc5b4": 93, "\uc601\uc5b4": 47, "\uc218\ud559": 44, "\uacfc\ud559": 93}, "\uc815\uac00\uc740": {"\uad6d\uc5b4": 76, "\uc601\uc5b4": 34, "\uc218\ud559": 12, "\uacfc\ud559": 60}, "\uae40\uc724\uc544": {"\uad6d\uc5b4": 79, "\uc601\uc5b4": 31, "\uc218\ud559": 75, "\uacfc\ud559": 79}, "\uc815\uc11c\uc601": {"\uad6d\uc5b4": 54, "\uc601\uc5b4": 52, "\uc218\ud559": 32, "\uacfc\ud559": 62}, "\uc815\uc720\ub098": {"\uad6d\uc5b4": 91, "\uc601\uc5b4": 25, "\uc218\ud559": 42, "\uacfc\ud559": 77}, "\uc815\ubbfc\uc9c0": {"\uad6d\uc5b4": 74, "\uc601\uc5b4": 55, "\uc218\ud559": 23, "\uacfc\ud559": 74}, "\uae40\uc608\uc9c4": {"\uad6d\uc5b4": 86, "\uc601\uc5b4": 27, "\uc218\ud559": 56, "\uacfc\ud559": 79}, "\ubc15\uc218\ubbfc": {"\uad6d\uc5b4": 58, "\uc601\uc5b4": 59, "\uc218\ud559": 71, "\uacfc\ud559": 64}, "\uc774\uc218\uc5f0": {"\uad6d\uc5b4": 98, "\uc601\uc5b4": 81, "\uc218\ud559": 31, "\uacfc\ud559": 94}, "\ud0dc\uc5f0\uc6b0": {"\uad6d\uc5b4": 67, "\uc601\uc5b4": 76, "\uc218\ud559": 41, "\uacfc\ud559": 64}, "\ud0dc\uc11c\uc544": {"\uad6d\uc5b4": 73, "\uc601\uc5b4": 27, "\uc218\ud559": 52, "\uacfc\ud559": 100}, "\ubc15\uc608\ub098": {"\uad6d\uc5b4": 61, "\uc601\uc5b4": 67, "\uc218\ud559": 81, "\uacfc\ud559": 63}, "\ud0dc\uc608\uc11c": {"\uad6d\uc5b4": 79, "\uc601\uc5b4": 68, "\uc218\ud559": 51, "\uacfc\ud559": 80}, "\uc815\uc8fc\uc544": {"\uad6d\uc5b4": 83, "\uc601\uc5b4": 95, "\uc218\ud559": 44, "\uacfc\ud559": 93}, "\uae40\uc2dc\uc5f0": {"\uad6d\uc5b4": 92, "\uc601\uc5b4": 95, "\uc218\ud559": 37, "\uacfc\ud559": 85}, "\ud0dc\uc5f0\uc11c": {"\uad6d\uc5b4": 80, "\uc601\uc5b4": 35, "\uc218\ud559": 60, "\uacfc\ud559": 83}, "\ud0dc\ud558\uc728": {"\uad6d\uc5b4": 92, "\uc601\uc5b4": 98, "\uc218\ud559": 17, "\uacfc\ud559": 82}, "\ubc15\ub2e4\uc778": {"\uad6d\uc5b4": 66, "\uc601\uc5b4": 54, "\uc218\ud559": 25, "\uacfc\ud559": 100}, "\ubc15\ub2e4\uc5f0": {"\uad6d\uc5b4": 70, "\uc601\uc5b4": 73, "\uc218\ud559": 32, "\uacfc\ud559": 70}, "\uae40\ud604\uc11c": {"\uad6d\uc5b4": 72, "\uc601\uc5b4": 68, "\uc218\ud559": 25, "\uacfc\ud559": 75}, "\uae40\uc544\uc778": {"\uad6d\uc5b4": 95, "\uc601\uc5b4": 52, "\uc218\ud559": 61, "\uacfc\ud559": 60}, "\ubc15\uc11c\uc740": {"\uad6d\uc5b4": 89, "\uc601\uc5b4": 83, "\uc218\ud559": 38, "\uacfc\ud559": 88}, "\ud0dc\uc2dc\uc544": {"\uad6d\uc5b4": 51, "\uc601\uc5b4": 91, "\uc218\ud559": 17, "\uacfc\ud559": 88}, "\uc815\uc720\uc8fc": {"\uad6d\uc5b4": 87, "\uc601\uc5b4": 72, "\uc218\ud559": 45, "\uacfc\ud559": 62}, "\uc774\uc11c\uc9c4": {"\uad6d\uc5b4": 61, "\uc601\uc5b4": 73, "\uc218\ud559": 35, "\uacfc\ud559": 69}, "\uc815\uc720\ube48": {"\uad6d\uc5b4": 77, "\uc601\uc5b4": 56, "\uc218\ud559": 82, "\uacfc\ud559": 84}, "\ubc15\ud558\uc5f0": {"\uad6d\uc5b4": 82, "\uc601\uc5b4": 25, "\uc218\ud559": 28, "\uacfc\ud559": 62}, "\uc815\ucc44\uc724": {"\uad6d\uc5b4": 54, "\uc601\uc5b4": 32, "\uc218\ud559": 48, "\uacfc\ud559": 92}, "\uae40\uc11c\uc6b0": {"\uad6d\uc5b4": 88, "\uc601\uc5b4": 45, "\uc218\ud559": 47, "\uacfc\ud559": 83}, "\uc774\uc11c\uc728": {"\uad6d\uc5b4": 81, "\uc601\uc5b4": 52, "\uc218\ud559": 95, "\uacfc\ud559": 81}, "\uc815\uc218\ud604": {"\uad6d\uc5b4": 51, "\uc601\uc5b4": 41, "\uc218\ud559": 71, "\uacfc\ud559": 95}, "\uc774\uc9c0\uc728": {"\uad6d\uc5b4": 87, "\uc601\uc5b4": 72, "\uc218\ud559": 49, "\uacfc\ud559": 77}, "\ubc15\uc544\ub9b0": {"\uad6d\uc5b4": 58, "\uc601\uc5b4": 36, "\uc218\ud559": 55, "\uacfc\ud559": 92}, "\uc815\ub098\uc724": {"\uad6d\uc5b4": 71, "\uc601\uc5b4": 94, "\uc218\ud559": 81, "\uacfc\ud559": 70}, "\ubc15\uc608\uc9c0": {"\uad6d\uc5b4": 57, "\uc601\uc5b4": 42, "\uc218\ud559": 46, "\uacfc\ud559": 95}, "\ubc15\ub2e4\ud604": {"\uad6d\uc5b4": 66, "\uc601\uc5b4": 99, "\uc218\ud559": 31, "\uacfc\ud559": 72}, "\uc774\ubbfc\uc8fc": {"\uad6d\uc5b4": 76, "\uc601\uc5b4": 83, "\uc218\ud559": 24, "\uacfc\ud559": 70}, "\ud0dc\uc9c0\uc740": {"\uad6d\uc5b4": 98, "\uc601\uc5b4": 68, "\uc218\ud559": 25, "\uacfc\ud559": 92}, "\uc774\ub098\uc5f0": {"\uad6d\uc5b4": 77, "\uc601\uc5b4": 95, "\uc218\ud559": 65, "\uacfc\ud559": 99}, "\ubc15\uc18c\uc740": {"\uad6d\uc5b4": 79, "\uc601\uc5b4": 73, "\uc218\ud559": 38, "\uacfc\ud559": 86}, "\uc774\uc2dc\ud604": {"\uad6d\uc5b4": 81, "\uc601\uc5b4": 96, "\uc218\ud559": 48, "\uacfc\ud559": 72}, "\uc774\uc724\uc9c0": {"\uad6d\uc5b4": 100, "\uc601\uc5b4": 80, "\uc218\ud559": 25, "\uacfc\ud559": 77}, "\ubc15\uc0ac\ub791": {"\uad6d\uc5b4": 66, "\uc601\uc5b4": 71, "\uc218\ud559": 72, "\uacfc\ud559": 68}, "\uae40\uc608\ube48": {"\uad6d\uc5b4": 79, "\uc601\uc5b4": 79, "\uc218\ud559": 27, "\uacfc\ud559": 98}, "\ubc15\uc9c0\ud604": {"\uad6d\uc5b4": 65, "\uc601\uc5b4": 23, "\uc218\ud559": 81, "\uacfc\ud559": 89}, "\ubc15\uc18c\uc5f0": {"\uad6d\uc5b4": 56, "\uc601\uc5b4": 57, "\uc218\ud559": 35, "\uacfc\ud559": 66}, "\uc815\ub098\uc740": {"\uad6d\uc5b4": 99, "\uc601\uc5b4": 45, "\uc218\ud559": 41, "\uacfc\ud559": 90}, "\ud0dc\uc11c\ud558": {"\uad6d\uc5b4": 57, "\uc601\uc5b4": 57, "\uc218\ud559": 80, "\uacfc\ud559": 78}, "\uc774\ud61c\uc6d0": {"\uad6d\uc5b4": 73, "\uc601\uc5b4": 91, "\uc218\ud559": 22, "\uacfc\ud559": 90}, "\uc774\uc9c0\uc218": {"\uad6d\uc5b4": 60, "\uc601\uc5b4": 24, "\uc218\ud559": 20, "\uacfc\ud559": 62}, "\ud0dc\uc740\ucc44": {"\uad6d\uc5b4": 86, "\uc601\uc5b4": 23, "\uc218\ud559": 95, "\uacfc\ud559": 60}, "\uc815\uc544\uc724": {"\uad6d\uc5b4": 62, "\uc601\uc5b4": 97, "\uc218\ud559": 31, "\uacfc\ud559": 83}, "\ubc15\uc8fc\ud558": {"\uad6d\uc5b4": 70, "\uc601\uc5b4": 21, "\uc218\ud559": 22, "\uacfc\ud559": 71}, "\uc774\uc2b9\uc544": {"\uad6d\uc5b4": 61, "\uc601\uc5b4": 80, "\uc218\ud559": 45, "\uacfc\ud559": 85}, "\uc815\ucc44\uc544": {"\uad6d\uc5b4": 71, "\uc601\uc5b4": 53, "\uc218\ud559": 82, "\uacfc\ud559": 68}, "\uc815\uc18c\ubbfc": {"\uad6d\uc5b4": 63, "\uc601\uc5b4": 72, "\uc218\ud559": 33, "\uacfc\ud559": 97}, "\uc774\uc11c\ud76c": {"\uad6d\uc5b4": 87, "\uc601\uc5b4": 53, "\uc218\ud559": 81, "\uacfc\ud559": 80}, "\ud0dc\ub098\ud604": {"\uad6d\uc5b4": 88, "\uc601\uc5b4": 38, "\uc218\ud559": 46, "\uacfc\ud559": 77}, "\uae40\ub2e4\uc724": {"\uad6d\uc5b4": 77, "\uc601\uc5b4": 52, "\uc218\ud559": 50, "\uacfc\ud559": 92}, "\uc774\ubbfc\uc544": {"\uad6d\uc5b4": 98, "\uc601\uc5b4": 71, "\uc218\ud559": 43, "\uacfc\ud559": 68}, "\uc815\ucc44\ub9b0": {"\uad6d\uc5b4": 52, "\uc601\uc5b4": 53, "\uc218\ud559": 36, "\uacfc\ud559": 90}, "\uc774\ud558\uc601": {"\uad6d\uc5b4": 94, "\uc601\uc5b4": 47, "\uc218\ud559": 84, "\uacfc\ud559": 78}, "\uc774\uc138\uc740": {"\uad6d\uc5b4": 62, "\uc601\uc5b4": 86, "\uc218\ud559": 42, "\uacfc\ud559": 90}, "\ud0dc\ub3c4\uc5f0": {"\uad6d\uc5b4": 89, "\uc601\uc5b4": 56, "\uc218\ud559": 60, "\uacfc\ud559": 99}, "\uc774\uaddc\ub9ac": {"\uad6d\uc5b4": 82, "\uc601\uc5b4": 87, "\uc218\ud559": 75, "\uacfc\ud559": 92}, "\uc815\uc544\uc601": {"\uad6d\uc5b4": 86, "\uc601\uc5b4": 79, "\uc218\ud559": 34, "\uacfc\ud559": 81}, "\uc815\uc138\uc544": {"\uad6d\uc5b4": 92, "\uc601\uc5b4": 99, "\uc218\ud559": 92, "\uacfc\ud559": 92}, "\uae40\uc9c0\uc5f0": {"\uad6d\uc5b4": 69, "\uc601\uc5b4": 61, "\uc218\ud559": 15, "\uacfc\ud559": 76}, "\ud0dc\uc608\ub9bc": {"\uad6d\uc5b4": 96, "\uc601\uc5b4": 24, "\uc218\ud559": 23, "\uacfc\ud559": 85}, "\uc815\uac00\uc724": {"\uad6d\uc5b4": 69, "\uc601\uc5b4": 36, "\uc218\ud559": 26, "\uacfc\ud559": 63}, "\uc815\ub2e4\uc628": {"\uad6d\uc5b4": 95, "\uc601\uc5b4": 73, "\uc218\ud559": 19, "\uacfc\ud559": 68}, "\uc774\ud0dc\ud76c": {"\uad6d\uc5b4": 86, "\uc601\uc5b4": 54, "\uc218\ud559": 94, "\uacfc\ud559": 62}, "\uc774\ubbfc\ucc44": {"\uad6d\uc5b4": 85, "\uc601\uc5b4": 97, "\uc218\ud559": 38, "\uacfc\ud559": 69}}

**11. 파이썬 오브젝트를 json 텍스트로 변환**

In [ ]:
import json
person_dict = {}

with open('student.txt', 'r', encoding='euc-kr') as fr:
  for line in fr:
    data = line.strip().split(';') #불필요 공백 제거 후 문자로 문자열 분리
    name = data[0] #이름

    # kor, eng, mat, sci = int(data[1]), int(data[2]), int(data[3]), int(data[4])
    kor, eng, mat, sci = (int(x) for x in data[1:])
    person_dict[name] = {'국어':kor, '영어':eng, '수학':mat, '과학':sci}

json_data = json.dumps(person_dict, ensure_ascii=False, indent=4) #한글 보존, indent 추가
print(json_data)

{
    "태서연": {
        "국어": 54,
        "영어": 72,
        "수학": 60,
        "과학": 78
    },
    "박서윤": {
        "국어": 62,
        "영어": 78,
        "수학": 16,
        "과학": 81
    },
    "정지우": {
        "국어": 66,
        "영어": 72,
        "수학": 32,
        "과학": 74
    },
    "정서현": {
        "국어": 56,
        "영어": 80,
        "수학": 67,
        "과학": 85
    },
    "박민서": {
        "국어": 64,
        "영어": 92,
        "수학": 11,
        "과학": 66
    },
    "이하은": {
        "국어": 85,
        "영어": 35,
        "수학": 71,
        "과학": 90
    },
    "정하윤": {
        "국어": 51,
        "영어": 26,
        "수학": 36,
        "과학": 63
    },
    "박윤서": {
        "국어": 77,
        "영어": 84,
        "수학": 32,
        "과학": 93
    },
    "정지민": {
        "국어": 73,
        "영어": 28,
        "수학": 66,
        "과학": 70
    },
    "박지유": {
        "국어": 51,
        "영어": 34,
        "수학": 55,
        "과학": 63
    },
    "김채원": {
        "국어": 77,
        "영어": 72,
        "수학": 29,
        "과학": 75
    },
    "김지윤": {
        "국어": 78,
        "영어": 27,
        "수학": 41,
        "과학": 67
    },
    "박은서": {
        "국어": 61,
        "영어": 52,
        "수학": 38,
        "과학": 65
    },
    "김수아": {
        "국어": 51,
        "영어": 32,
        "수학": 26,
        "과학": 91
    },
    "정다은": {
        "국어": 59,
        "영어": 50,
        "수학": 63,
        "과학": 71
    },
    "박예은": {
        "국어": 73,
        "영어": 29,
        "수학": 78,
        "과학": 99
    },
    "태수빈": {
        "국어": 51,
        "영어": 34,
        "수학": 44,
        "과학": 76
    },
    "이지아": {
        "국어": 53,
        "영어": 32,
        "수학": 56,
        "과학": 70
    },
    "정소율": {
        "국어": 55,
        "영어": 54,
        "수학": 28,
        "과학": 94
    },
    "정예원": {
        "국어": 65,
        "영어": 74,
        "수학": 75,
        "과학": 99
    },
    "김예린": {
        "국어": 94,
        "영어": 93,
        "수학": 72,
        "과학": 81
    },
    "이지원": {
        "국어": 61,
        "영어": 41,
        "수학": 32,
        "과학": 100
    },
    "태소윤": {
        "국어": 87,
        "영어": 23,
        "수학": 86,
        "과학": 97
    },
    "이지안": {
        "국어": 53,
        "영어": 38,
        "수학": 57,
        "과학": 66
    },
    "태유진": {
        "국어": 81,
        "영어": 68,
        "수학": 83,
        "과학": 66
    },
    "박시은": {
        "국어": 84,
        "영어": 94,
        "수학": 56,
        "과학": 63
    },
    "정하린": {
        "국어": 86,
        "영어": 29,
        "수학": 32,
        "과학": 78
    },
    "정채은": {
        "국어": 93,
        "영어": 47,
        "수학": 44,
        "과학": 93
    },
    "정가은": {
        "국어": 76,
        "영어": 34,
        "수학": 12,
        "과학": 60
    },
    "김윤아": {
        "국어": 79,
        "영어": 31,
        "수학": 75,
        "과학": 79
    },
    "정서영": {
        "국어": 54,
        "영어": 52,
        "수학": 32,
        "과학": 62
    },
    "정유나": {
        "국어": 91,
        "영어": 25,
        "수학": 42,
        "과학": 77
    },
    "정민지": {
        "국어": 74,
        "영어": 55,
        "수학": 23,
        "과학": 74
    },
    "김예진": {
        "국어": 86,
        "영어": 27,
        "수학": 56,
        "과학": 79
    },
    "박수민": {
        "국어": 58,
        "영어": 59,
        "수학": 71,
        "과학": 64
    },
    "이수연": {
        "국어": 98,
        "영어": 81,
        "수학": 31,
        "과학": 94
    },
    "태연우": {
        "국어": 67,
        "영어": 76,
        "수학": 41,
        "과학": 64
    },
    "태서아": {
        "국어": 73,
        "영어": 27,
        "수학": 52,
        "과학": 100
    },
    "박예나": {
        "국어": 61,
        "영어": 67,
        "수학": 81,
        "과학": 63
    },
    "태예서": {
        "국어": 79,
        "영어": 68,
        "수학": 51,
        "과학": 80
    },
    "정주아": {
        "국어": 83,
        "영어": 95,
        "수학": 44,
        "과학": 93
    },
    "김시연": {
        "국어": 92,
        "영어": 95,
        "수학": 37,
        "과학": 85
    },
    "태연서": {
        "국어": 80,
        "영어": 35,
        "수학": 60,
        "과학": 83
    },
    "태하율": {
        "국어": 92,
        "영어": 98,
        "수학": 17,
        "과학": 82
    },
    "박다인": {
        "국어": 66,
        "영어": 54,
        "수학": 25,
        "과학": 100
    },
    "박다연": {
        "국어": 70,
        "영어": 73,
        "수학": 32,
        "과학": 70
    },
    "김현서": {
        "국어": 72,
        "영어": 68,
        "수학": 25,
        "과학": 75
    },
    "김아인": {
        "국어": 95,
        "영어": 52,
        "수학": 61,
        "과학": 60
    },
    "박서은": {
        "국어": 89,
        "영어": 83,
        "수학": 38,
        "과학": 88
    },
    "태시아": {
        "국어": 51,
        "영어": 91,
        "수학": 17,
        "과학": 88
    },
    "정유주": {
        "국어": 87,
        "영어": 72,
        "수학": 45,
        "과학": 62
    },
    "이서진": {
        "국어": 61,
        "영어": 73,
        "수학": 35,
        "과학": 69
    },
    "정유빈": {
        "국어": 77,
        "영어": 56,
        "수학": 82,
        "과학": 84
    },
    "박하연": {
        "국어": 82,
        "영어": 25,
        "수학": 28,
        "과학": 62
    },
    "정채윤": {
        "국어": 54,
        "영어": 32,
        "수학": 48,
        "과학": 92
    },
    "김서우": {
        "국어": 88,
        "영어": 45,
        "수학": 47,
        "과학": 83
    },
    "이서율": {
        "국어": 81,
        "영어": 52,
        "수학": 95,
        "과학": 81
    },
    "정수현": {
        "국어": 51,
        "영어": 41,
        "수학": 71,
        "과학": 95
    },
    "이지율": {
        "국어": 87,
        "영어": 72,
        "수학": 49,
        "과학": 77
    },
    "박아린": {
        "국어": 58,
        "영어": 36,
        "수학": 55,
        "과학": 92
    },
    "정나윤": {
        "국어": 71,
        "영어": 94,
        "수학": 81,
        "과학": 70
    },
    "박예지": {
        "국어": 57,
        "영어": 42,
        "수학": 46,
        "과학": 95
    },
    "박다현": {
        "국어": 66,
        "영어": 99,
        "수학": 31,
        "과학": 72
    },
    "이민주": {
        "국어": 76,
        "영어": 83,
        "수학": 24,
        "과학": 70
    },
    "태지은": {
        "국어": 98,
        "영어": 68,
        "수학": 25,
        "과학": 92
    },
    "이나연": {
        "국어": 77,
        "영어": 95,
        "수학": 65,
        "과학": 99
    },
    "박소은": {
        "국어": 79,
        "영어": 73,
        "수학": 38,
        "과학": 86
    },
    "이시현": {
        "국어": 81,
        "영어": 96,
        "수학": 48,
        "과학": 72
    },
    "이윤지": {
        "국어": 100,
        "영어": 80,
        "수학": 25,
        "과학": 77
    },
    "박사랑": {
        "국어": 66,
        "영어": 71,
        "수학": 72,
        "과학": 68
    },
    "김예빈": {
        "국어": 79,
        "영어": 79,
        "수학": 27,
        "과학": 98
    },
    "박지현": {
        "국어": 65,
        "영어": 23,
        "수학": 81,
        "과학": 89
    },
    "박소연": {
        "국어": 56,
        "영어": 57,
        "수학": 35,
        "과학": 66
    },
    "정나은": {
        "국어": 99,
        "영어": 45,
        "수학": 41,
        "과학": 90
    },
    "태서하": {
        "국어": 57,
        "영어": 57,
        "수학": 80,
        "과학": 78
    },
    "이혜원": {
        "국어": 73,
        "영어": 91,
        "수학": 22,
        "과학": 90
    },
    "이지수": {
        "국어": 60,
        "영어": 24,
        "수학": 20,
        "과학": 62
    },
    "태은채": {
        "국어": 86,
        "영어": 23,
        "수학": 95,
        "과학": 60
    },
    "정아윤": {
        "국어": 62,
        "영어": 97,
        "수학": 31,
        "과학": 83
    },
    "박주하": {
        "국어": 70,
        "영어": 21,
        "수학": 22,
        "과학": 71
    },
    "이승아": {
        "국어": 61,
        "영어": 80,
        "수학": 45,
        "과학": 85
    },
    "정채아": {
        "국어": 71,
        "영어": 53,
        "수학": 82,
        "과학": 68
    },
    "정소민": {
        "국어": 63,
        "영어": 72,
        "수학": 33,
        "과학": 97
    },
    "이서희": {
        "국어": 87,
        "영어": 53,
        "수학": 81,
        "과학": 80
    },
    "태나현": {
        "국어": 88,
        "영어": 38,
        "수학": 46,
        "과학": 77
    },
    "김다윤": {
        "국어": 77,
        "영어": 52,
        "수학": 50,
        "과학": 92
    },
    "이민아": {
        "국어": 98,
        "영어": 71,
        "수학": 43,
        "과학": 68
    },
    "정채린": {
        "국어": 52,
        "영어": 53,
        "수학": 36,
        "과학": 90
    },
    "이하영": {
        "국어": 94,
        "영어": 47,
        "수학": 84,
        "과학": 78
    },
    "이세은": {
        "국어": 62,
        "영어": 86,
        "수학": 42,
        "과학": 90
    },
    "태도연": {
        "국어": 89,
        "영어": 56,
        "수학": 60,
        "과학": 99
    },
    "이규리": {
        "국어": 82,
        "영어": 87,
        "수학": 75,
        "과학": 92
    },
    "정아영": {
        "국어": 86,
        "영어": 79,
        "수학": 34,
        "과학": 81
    },
    "정세아": {
        "국어": 92,
        "영어": 99,
        "수학": 92,
        "과학": 92
    },
    "김지연": {
        "국어": 69,
        "영어": 61,
        "수학": 15,
        "과학": 76
    },
    "태예림": {
        "국어": 96,
        "영어": 24,
        "수학": 23,
        "과학": 85
    },
    "정가윤": {
        "국어": 69,
        "영어": 36,
        "수학": 26,
        "과학": 63
    },
    "정다온": {
        "국어": 95,
        "영어": 73,
        "수학": 19,
        "과학": 68
    },
    "이태희": {
        "국어": 86,
        "영어": 54,
        "수학": 94,
        "과학": 62
    },
    "이민채": {
        "국어": 85,
        "영어": 97,
        "수학": 38,
        "과학": 69
    }
}

**12. json 텍스트를 파이썬 오브젝트로 변환**
 - ''.join( list ) : 리스트에서 문자열으로

In [ ]:
with open('student_json', 'r', encoding="UTF-8-sig") as fr:
  json_data = json.load(fr) #파일에 저장된 JSON 텍스트를 파이썬 오브젝트로 변환
print(json_data['태서연'])

with open('student_json', 'r', encoding="UTF-8-sig") as fr:
  json_text = ''.join(fr.readlines())

json_data = json.loads(json_text) #JSON 형태의 텍스트를 파이썬 오브젝트로 변환
print(json_data["태서연"])

{'국어': 54, '영어': 72, '수학': 60, '과학': 78}
{'국어': 54, '영어': 72, '수학': 60, '과학': 78}

**(9~12) 실습 결과**  
![실습결과.PNG]()

**13. pickle 데이터 직렬화 저장 로딩**

텍스트 상태의 데이터가 아닌 파이썬 객체 자체를 파일로 저장하는 것 입니다.





**그러면 무엇이 좋나요?**



만약 우리가 10GB 짜리 raw text 파일을 파싱하여 필요한 부분을 빼내서 사용한다고 해봅시다



raw text 에 있는 내용을 프로그램을 돌릴 때 마다 파싱하여 필요한 부분을 뺀다면 비효율 적이겠죠?



그래서 미리 필요한 부분을 딕셔너리 던, 리스트 던, 튜플 이던 저장을 해놓는 것 입니다..



근데 문자열이 아닌 객체를 파일에 쓸 수 없기에,



pickle 모듈을 활용해 그 객체 자체를 바이너리로 저장하는 것 입니다 !! ㅎㅎ





그럼 pickle 모듈로 저장된 파일을 그냥 불러오기만 하면 되기에 속도도 훨씬 빠르겠지요



출처: https://korbillgates.tistory.com/173 [생물정보학자의 블로그]

In [ ]:
import json
import pickle

with open ('student_json', 'r', encoding='UTF-8-sig') as fr:
  json_data = json.load(fr)

with open ('student_pickle', 'wb') as fw:
  pickle.dump(json_data, fw)

with open ('student_pickle', 'rb') as fr:
  pickle_data = pickle.load(fr)

print(pickle_data['태서연'])

**<스스로>14. 서울시 인구 통계 분석(실습)**
- seoul_people_report (CSV) 파일을 기반으로 구명을 key 값을 가지는 딕셔너리로 변경

- 구별 '외국인 비율', '6 세이상고령자 비율' 을 계산 후 각각 key( 외국인비율 , 고령자비율에 저장