<a href="https://colab.research.google.com/github/SWeat-python-weekend-study/seongjun_kim/blob/assignment/Week2-6_%EA%B9%80%EC%84%B1%EC%A4%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3.3 데이터프레임 고급 인덱싱

데이터프레임에서 특정한 데이터만 골라내는 것을 인덱싱(indexing)이라고 한다. 앞 절에서는 라벨, 라벨 리스트, 인덱스데이터(정수) 슬라이스의 3가지 인덱싱 값을 사용하여 인덱싱을 하는 방법을 공부하였다.
그런데 Pandas는 numpy행렬과 같이 쉼표를 사용한 `(행 인덱스, 열 인덱스)` 형식의 2차원 인덱싱을 지원하기 위해 다음과 같은 특별한 인덱서(indexer) 속성도 제공한다.

* `loc` : 라벨값 기반의 2차원 인덱싱
* `iloc` : 순서를 나타내는 정수 기반의 2차원 인덱싱

## `loc` 인덱서

`loc` 인덱서는 다음처럼 사용한다.

```
df.loc[행 인덱싱값]
```
또는
```
df.loc[행 인덱싱값, 열 인덱싱값]
```


이 때 인덱싱 값은 다음 중 하나이다. 행 인덱싱값은 정수 또는 행 인덱스데이터이고 열 인덱싱값은 라벨 문자열이다.

* 인덱스데이터
* 인덱스데이터 슬라이스
* 인덱스데이터 리스트
* 같은 행 인덱스를 가지는 불리언 시리즈 (행 인덱싱의 경우)
* 또는 위의 값들을 반환하는 함수

다음과 같은 데이터프레임을 예로 들자.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

### 인덱싱값을 하나만 받는 경우

만약 `loc` 인덱서를 사용하면서 인덱스를 하나만 넣으면 행(row)을 선택한다.

인덱스데이터가 "a"인 행을 고르면 해당하는 행이 시리즈로 출력된다. 시리즈라서 상하로 길게 출력되기는 했지만 행을 가져오고 있다.

In [3]:
df.loc["a"]

A    10
B    11
C    12
D    13
Name: a, dtype: int64

인덱스데이터의 슬라이스도 가능하다.

In [4]:
df.loc["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

이 때는 사실 `loc`를 쓰지 않는 경우과 같다.

In [5]:
df["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

인덱스데이터의 리스트도 된다.

In [6]:
df.loc[["b", "c"]]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

이 때는 `loc`를 쓰지 않으면 KeyError 오류가 발생한다..

In [7]:
# df[["b", "c"]]  # KeyError

데이터베이스와 같은 인덱스를 가지는 불리언 시리즈도 행을 선택하는 인덱싱값으로 쓸 수 있다.

In [8]:
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [9]:
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

인덱스 대신 인덱스 값을 반환하는 함수를 사용할 수도 있다. 다음 함수는 A열의 값이 15보다 큰 행만 선택한다.

In [10]:
def select_rows(df):
    return df.A > 15

In [11]:
select_rows(df)

a    False
b    False
c     True
Name: A, dtype: bool

In [12]:
df.loc[select_rows(df)]

    A   B   C   D
c  18  19  20  21

`loc` 인덱서가 없는 경우에 사용했던 라벨 인덱싱이나 라벨 리스트 인덱싱은 불가능하다.

In [13]:
# df.loc["A"]  # KeyError

In [14]:
# df.loc[["A", "B"]]  # KeyError

원래 (행) 인덱스값이 정수인 경우에는 슬라이싱도 라벨 슬라이싱 방식을 따르게 된다. 즉, 슬라이스의 마지막 값이 포함된다.

In [15]:
df2 = pd.DataFrame(np.arange(10, 26).reshape(4, 4), columns=["A", "B", "C", "D"])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [16]:
df2.loc[1:2]

    A   B   C   D
1  14  15  16  17
2  18  19  20  21

정리하면 다음과 같다.

| 인덱싱 값 | 가능 | 결과 | 자료형 | 추가사항 |
|-|-|-|-|-|
| 행 인덱스값(정수) | O | 행 | 시리즈 | |
| 행 인덱스값(정수) 슬라이스 | O | 행 | 데이터프레임 | `loc`가 없는 경우와 같음 |
| 행 인덱스값(정수) 리스트 | O | 행 | 데이터프레임 | |
| 불리언 시리즈 | O | 행 | 데이터프레임 | 시리즈의 인덱스가 데이터프레임의 행 인덱스와 같아야 한다. |
| 불리언 시리즈를 반환하는 함수 | O | 행 | 데이터프레임 |  |
| 열 라벨 | X | |  | `loc`가 없는 경우에만 쓸 수 있다. |
| 열 라벨 리스트 | X | |  | `loc`가 없는 경우에만 쓸 수 있다. |

### 인덱싱값을 행과 열 모두 받는 경우

인덱싱값을 행과 열 모두 받으려면 `df.loc[행 인덱스, 열 인덱스]`와 같은 형태로 사용한다. 행 인덱스 라벨값이 `a`, 열 인덱스 라벨값이 `A`인 위치의 값을 구하는 것은 다음과 같다.

In [17]:
df.loc["a", "A"]

10

인덱싱값으로 라벨 데이터의 슬라이싱 또는 리스트를 사용할 수도 있다.

In [18]:
df.loc["b":, "A"]

b    14
c    18
Name: A, dtype: int64

In [19]:
df.loc["a", :]

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [20]:
df.loc[["a", "b"], ["B", "D"]]

    B   D
a  11  13
b  15  17

행 인덱스가 같은 불리언 시리즈나 이러한 불리언 시리즈를 반환하는 함수도 행의 인덱싱값이 될 수 있다.

In [21]:
df.loc[df.A > 10, ["C", "D"]]

    C   D
b  16  17
c  20  21

## `iloc` 인덱서

`iloc` 인덱서는 `loc` 인덱서와 반대로 라벨이 아니라 순서를 나타내는 정수(integer) 인덱스만 받는다. 다른 사항은 `loc` 인덱서와 같다.

In [22]:
df.iloc[0, 1]

11

In [23]:
df.iloc[:2, 2]

a    12
b    16
Name: C, dtype: int64

In [24]:
df.iloc[0, -2:]

C    12
D    13
Name: a, dtype: int64

In [25]:
df.iloc[2:3, 1:3]

    B   C
c  19  20

`loc` 인덱서와 마찬가지로 인덱스가 하나만 들어가면 행을 선택한다.

In [26]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: c, dtype: int64

In [27]:
df.iloc[-1] = df.iloc[-1] * 2
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  36  38  40  42

**<스스로> 연습문제**
````{admonition} 연습 문제 4.3.1

1. 모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다. 
2. 10가지 이상의 방법으로 특정한 행과 열을 선택한다.
````

In [33]:
df = pd.DataFrame(np.arange(1, 37).reshape(6, 6),
                  index = ["!", "@", "#", "$", "%", "^"], 
                  columns = ["a", "b", "c", "d", "e", "f"]
)
df

    a   b   c   d   e   f
!   1   2   3   4   5   6
@   7   8   9  10  11  12
#  13  14  15  16  17  18
$  19  20  21  22  23  24
%  25  26  27  28  29  30
^  31  32  33  34  35  36

In [35]:
df.loc["$", "d"]

22

In [37]:
df.loc["$":"$", "d"]["$"]

22

In [38]:
df.loc["$", "d":"d"]["d"]

22

In [40]:
df.loc["$":"$", "d":"d"]["d"]["$"]

22

In [41]:
df.iloc[3, 3]

22

In [48]:
df.iloc[2:4, 3][1]

22

In [49]:
df.iloc[3, 2:4][1]

22

In [54]:
df.iloc[2:4, 2:4].iloc[1,1]

22

In [55]:
df.iloc[2:4, 2:4].loc["$", "d"]

22

In [52]:
df.iloc[2:4, 2:4].iloc[1,1]

22

### __EBS 교재 pp.89-95 데이터 분석 실습 과제__
[교재 링크](https://www.ebssw.kr/upload/pgm/ebs_math_ai.pdf)  
[데이터 파일 링크](https://www.kaggle.com/karangadiya/fifa19)

In [56]:
pwd

'/content'

In [57]:
cd sample_data/

/content/sample_data

In [61]:
import pandas as pd

fifa2019 = pd.read_csv('data.csv')
print(fifa2019.shape)

(10412, 89)

In [62]:
print(fifa2019.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10412 entries, 0 to 10411
Data columns (total 89 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                10412 non-null  int64
 1   ID                        10412 non-null  int64
 2   Name                      10412 non-null  object
 3   Age                       10412 non-null  int64
 4   Photo                     10412 non-null  object
 5   Nationality               10412 non-null  object
 6   Flag                      10412 non-null  object
 7   Overall                   10412 non-null  int64
 8   Potential                 10412 non-null  int64
 9   Club                      10247 non-null  object
 10  Club Logo                 10412 non-null  object
 11  Value                     10412 non-null  object
 12  Wage                      10412 non-null  object
 13  Special                   10412 non-null  int64
 14  Preferred Foot            10412 non-null  object
 15  International Reputation  10412 non-null  int64
 16  Weak Foot                 10412 non-null  int64
 17  Skill Moves               10412 non-null  int64
 18  Work Rate                 10412 non-null  object
 19  Body Type                 10412 non-null  object
 20  Real Face                 10412 non-null  object
 21  Position                  10408 non-null  object
 22  Jersey Number             10408 non-null  float64
 23  Joined                    9421 non-null   object
 24  Loaned From               826 non-null    object
 25  Contract Valid Until      10247 non-null  object
 26  Height                    10412 non-null  object
 27  Weight                    10412 non-null  object
 28  LS                        9444 non-null   object
 29  ST                        9444 non-null   object
 30  RS                        9444 non-null   object
 31  LW                        9444 non-null   object
 32  LF                        9444 non-null   object
 33  CF                        9444 non-null   object
 34  RF                        9444 non-null   object
 35  RW                        9444 non-null   object
 36  LAM                       9444 non-null   object
 37  CAM                       9444 non-null   object
 38  RAM                       9444 non-null   object
 39  LM                        9444 non-null   object
 40  LCM                       9444 non-null   object
 41  CM                        9444 non-null   object
 42  RCM                       9444 non-null   object
 43  RM                        9444 non-null   object
 44  LWB                       9444 non-null   object
 45  LDM                       9444 non-null   object
 46  CDM                       9444 non-null   object
 47  RDM                       9444 non-null   object
 48  RWB                       9444 non-null   object
 49  LB                        9444 non-null   object
 50  LCB                       9444 non-null   object
 51  CB                        9444 non-null   object
 52  RCB                       9444 non-null   object
 53  RB                        9444 non-null   object
 54  Crossing                  10412 non-null  int64
 55  Finishing                 10412 non-null  int64
 56  HeadingAccuracy           10412 non-null  int64
 57  ShortPassing              10412 non-null  int64
 58  Volleys                   10412 non-null  int64
 59  Dribbling                 10412 non-null  int64
 60  Curve                     10412 non-null  int64
 61  FKAccuracy                10412 non-null  int64
 62  LongPassing               10412 non-null  int64
 63  BallControl               10412 non-null  int64
 64  Acceleration              10412 non-null  int64
 65  SprintSpeed               10412 non-null  int64
 66  Agility                   10412 non-null  int64
 67  Reactions                 10412 non-null  int64
 68  Balance                   10412 non-null  int64
 69  ShotPower                 10412 non-null  int64
 70  Jumping                   10412 non-null  int64
 71  Stamina                   10412 non-null  int64
 72  Strength                  10412 non-null  int64
 73  LongShots                 10412 non-null  int64
 74  Aggression                10412 non-null  int64
 75  Interceptions             10412 non-null  int64
 76  Positioning               10411 non-null  float64
 77  Vision                    10411 non-null  float64
 78  Penalties                 10411 non-null  float64
 79  Composure                 10411 non-null  float64
 80  Marking                   10411 non-null  float64
 81  StandingTackle            10411 non-null  float64
 82  SlidingTackle             10411 non-null  float64
 83  GKDiving                  10411 non-null  float64
 84  GKHandling                10411 non-null  float64
 85  GKKicking                 10411 non-null  float64
 86  GKPositioning             10411 non-null  float64
 87  GKReflexes                10411 non-null  float64
 88  Release Clause            9416 non-null   object
dtypes: float64(13), int64(31), object(45)
memory usage: 7.1+ MB
None

In [63]:
sub1 = fifa2019.loc[14]
print(sub1)

Unnamed: 0                                                    14
ID                                                        215914
Name                                                    N. Kanté
Age                                                           27
Photo             https://cdn.sofifa.org/players/4/19/215914.png
                                       ...
GKHandling                                                    12
GKKicking                                                     10
GKPositioning                                                  7
GKReflexes                                                    10
Release Clause                                           €121.3M
Name: 14, Length: 89, dtype: object

In [64]:
sub2 = fifa2019.loc[2:16]
print(sub2)

    Unnamed: 0      ID  ... GKReflexes  Release Clause
2            2  190871  ...       11.0         €228.1M
3            3  193080  ...       94.0         €138.6M
4            4  192985  ...       13.0         €196.4M
5            5  183277  ...        8.0         €172.1M
6            6  177003  ...        9.0         €137.4M
7            7  176580  ...       37.0           €164M
8            8  155862  ...       11.0         €104.6M
9            9  200389  ...       89.0         €144.5M
10          10  188545  ...       10.0         €127.1M
11          11  182521  ...       10.0         €156.8M
12          12  182493  ...       15.0          €90.2M
13          13  168542  ...       12.0           €111M
14          14  215914  ...       10.0         €121.3M
15          15  211110  ...        8.0         €153.5M
16          16  202126  ...       11.0         €160.7M

[15 rows x 89 columns]

In [65]:
sub3 = fifa2019.loc[:, ['Name', 'Preferred Foot']]
print(sub3)

                    Name Preferred Foot
0               L. Messi           Left
1      Cristiano Ronaldo          Right
2              Neymar Jr          Right
3                 De Gea          Right
4           K. De Bruyne          Right
...                  ...            ...
10407          Luis Ruiz           Left
10408          A. Hunter          Right
10409           L. Owusu          Right
10410           J. Phojo          Right
10411        L. Rougeaux          Right

[10412 rows x 2 columns]

In [66]:
sub4 = fifa2019.iloc[0:10, 1:3]
print(sub4)

       ID               Name
0  158023           L. Messi
1   20801  Cristiano Ronaldo
2  190871          Neymar Jr
3  193080             De Gea
4  192985       K. De Bruyne
5  183277          E. Hazard
6  177003          L. Modrić
7  176580          L. Suárez
8  155862       Sergio Ramos
9  200389           J. Oblak

In [67]:
korea_player = fifa2019['Nationality'] == 'Korea Republic'
sub5 = fifa2019.loc[korea_player]
print(korea_player)
print(sub5)

0        False
1        False
2        False
3        False
4        False
         ...
10407    False
10408    False
10409    False
10410    False
10411    False
Name: Nationality, Length: 10412, dtype: bool
       Unnamed: 0      ID  ... GKReflexes  Release Clause
125           125  200104  ...       10.0          €71.2M
1295         1295  180283  ...       10.0          €14.3M
1407         1407  182152  ...        9.0          €12.8M
2002         2002  211927  ...        8.0          €17.6M
2021         2021  221671  ...        8.0          €13.8M
...           ...     ...  ...        ...             ...
10206       10206  213314  ...       65.0           €798K
10222       10222  180293  ...       16.0           €195K
10255       10255  232269  ...       14.0           €894K
10331       10331  212066  ...       15.0           €696K
10355       10355  218471  ...       10.0             NaN

[143 rows x 89 columns]

In [68]:
sub6 = sub5['Name']
print(sub6)

125               H. Son
1295       Ki Sung Yueng
1407        Koo Ja Cheol
2002     Kwon Chang Hoon
2021        Lee Jae Sung
              ...
10206       Ham Seok Min
10222       Park Won Jae
10255      Heo Yong Joon
10331          Lee Ki Je
10355        Kim Min Woo
Name: Name, Length: 143, dtype: object